# File patterns git SCM system should ignore
# (see 'man 5 gitignore' for details)

# Relative to root
###################
*.geany
README.pdf
docs/build/

# Global
########
**/__pycache__/
**.dot
**.log
**.pyc
**.pyo
**.DS_Store
**.coverage
**.~lock.*
