# File patterns git SCM system should ignore
# (see 'man 5 gitignore' for details)

# Relative to root
###################
docs/build/
*.geany
cine.db
README.pdf

# Global
########
**/__pycache__/
**.dot
**.log
**.pyc
**.pyo
**.DS_Store
**.coverage
**.~lock.*
